$color-light: rgba(255, 255, 255);
$color-dark: rgba(0, 0, 0);
$color-yellow: yellow;

$color-lightblue: rgba(111, 136, 195);
$color-darkblue: rgba(19, 73, 211);

$red-one: #eb2f64;
$red-two: #ff3366;
$red-three: #ba265d;

$grey-light-one: #faf9f9;
$grey-light-two: #f4f2f2;
$grey-light-three: #f0eeee;
$grey-light-four: #ccc;

$grey-dark-one: #333;
$grey-dark-two: #777;
$grey-dark-three: #999;
