$color-light: rgba(255, 255, 255);

footer {
  background-color: rgba($color-light, 0.085);
  text-align: center;
  color: $color-light;
  position: fixed;
  width: 100%;
  padding: 2%;
  bottom: 0;
}
