header {
  height: 4rem;
  border-bottom: $grey-light-two;
  font-family: $default-aclonica;

  nav {
    background-image: linear-gradient(
      to right bottom,
      rgba(grey, 0.24),
      rgba(cyan, 0.51)
    );

    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        font-size: 2.5rem;
      }
    }
  }

  .burgermenu {
    position: absolute;
    top: 0;
    right: 20rem;
    font-size: 3rem;
    border-radius: 5px;
    line-height: 45px;

    &:hover ul {
      display: block;
      position: absolute;
    }

    ul {
      display: none;
      padding: 1rem;
      text-align: left;
      background-image: linear-gradient(
        to right bottom,
        rgb(229, 229, 219),
        rgb(111, 106, 98)
      );
    }
  }
}

@media screen and (min-width: 992px) {
  .burgermenu {
    display: none;
  }
}
