@import url(https://fonts.bunny.net/css?family=aclonica:400);

header {
  height: 4rem;
  background-color: #fff;
  border-bottom: $grey-light-two;
  font-family: "Aclonica", sans-serif;

  nav {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-lightblue, 0.24),
      rgba($color-darkblue, 0.51)
    );
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        font-size: 2.5rem;
      }
    }
  }
}
