.homepage {
  height: 100vh;
  padding: 2%;

  background-image: linear-gradient(
      to right bottom,
      rgb(229, 229, 219),
      rgb(111, 106, 98)
    ),
    url("../../../src/images/pexels-oleksandr-p-376368.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;

  .container {
    height: 45rem;
    padding: 2rem 10rem;

    background-image: linear-gradient(
      to right bottom,
      rgba(grey, 0.24),
      rgba(white, 0.51)
    );
    -webkit-clip-path: polygon(7.5vh 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(7.5vh 0, 100% 0, 100% 100%, 0 100%);

    h1 {
      animation-name: leftIncoming;
      font-size: 4rem;
      animation-duration: 5s;
      padding: 2rem;
    }
    h2 {
      color: transparent;
      background-image: linear-gradient(to right, $color-yellow, $color-dark);
      background-clip: inherit;
      -webkit-background-clip: text;
    }
    p {
      font-size: 1.8rem;
    }
  }
}
