.homepage {
  height: 70rem;
  padding: 2%;

  background-image: linear-gradient(
      to right bottom,
      rgb(229, 229, 219),
      rgb(111, 106, 98)
    ),
    url("../../../src/images/pexels-oleksandr-p-376368.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;

  .about-section {
    padding: 4rem 0;

    h2 {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.2rem;

      animation-name: leftIncoming;
      animation-duration: 5s;
      transition: all 0.8s;

      background-image: linear-gradient(to right, grey, black);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;

      &:hover {
        transform: skewX(20deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color: black, $alpha: 0.4);
      }
    }
    .about-container {
      display: flex;
      justify-content: space-around;

      .text-content {
        width: 50%;

        h3 {
          font-size: 1.6rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        p {
          font-size: 1.2rem;
          &:not(:last-child) {
            margin-bottom: 2rem;
          }
        }
      }
      .image-content {
        width: 40%;

        .image-composition {
          position: relative;

          .composition-photo {
            width: 60%;
            box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: 0.4);
            border-radius: 2px;
            position: absolute;
            z-index: 1;
            transition: all 0.4s;

            &-1 {
              left: 0;
              top: -2rem;
            }
            &-2 {
              right: 2rem;
              top: 2rem;
            }
            &-3 {
              left: 20%;
              top: 10rem;
            }

            &:hover {
              transform: scale(1.5) translateY(-0.5rem);
              box-shadow: 0 2.5rem 4rem rgba($color: black, $alpha: 0.5);
              z-index: 2;
            }
          }
          &:hover .composition-photo:not(:hover) {
            transform: scale(0.6);
          }
        }
      }
    }
  }
}
