.projects {
  background-color: $grey-light-one;

  .columns-3 {
    width: 100%;
    display: flex;

    .column {
      width: calc(100% / 3);
      padding: 2% 2%;

      .card {
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
        height: 52rem;

        &-side {
          color: black;
          font-size: 2rem;
          height: 52rem;
          transition: all 0.8s ease;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          backface-visibility: hidden;
          border-radius: 13px;
          overflow: hidden;
          box-shadow: 0 1.5rem 4rem rgba(black, 0.15);

          &-front {
            background-color: white;
          }

          &-back {
            transform: rotateY(180deg);

            &-1 {
              background-image: linear-gradient(
                to right bottom,
                rgb(210, 210, 169),
                orange
              );
            }

            &-2 {
              background-image: linear-gradient(to right bottom, red, black);
            }

            &-3 {
              background-image: linear-gradient(to right bottom, cyan, blue);
            }

            .card-side-back-cta {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              text-align: center;
              width: 90%;

              .card-side-back-cta-info {
                text-align: center;
                margin-bottom: 8rem;
                color: white;

                &-1 {
                  font-size: 1.4rem;
                  text-transform: uppercase;
                }

                &-2 {
                  font-size: 4rem;
                  font-weight: 100;
                }
              }

              .card-side-back-cta-button {
                &,
                &:link,
                &:visited {
                  background-color: white;
                  color: black;
                  text-transform: uppercase;
                  text-decoration: none;
                  padding: 1.5rem 4rem;
                  display: inline-block;
                  border-radius: 10rem;
                  transition: all 0.2s;
                  position: relative;

                  border: none;
                  cursor: pointer;
                }

                &:hover {
                  transform: translateY(-3px);
                  box-shadow: 0 1rem 2rem rgba(black, 0.2);

                  &::after {
                    transform: scaleX(1.4) scaleY(1.6);
                    opacity: 0;
                  }
                }

                &:active,
                &:focus {
                  outline: none;
                  transform: translateY(-1px);
                  box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
                }
              }
            }
          }
        }

        &:hover .card-side-front {
          transform: rotateY(-180deg);
        }

        &:hover .card-side-back {
          transform: rotateY(0deg);
        }

        .card-picture {
          background-size: cover;
          height: 23rem;
          background-blend-mode: screen;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

          &-1 {
            background-image: linear-gradient(
                to right bottom,
                rgb(210, 210, 169),
                orange
              ),
              url("/images/pexels-oleksandr-p-376368.jpg");
          }

          &-2 {
            background-image: linear-gradient(to right bottom, red, black),
              url("/images/pexels-oleksandr-p-376368.jpg");
          }

          &-3 {
            background-image: linear-gradient(to right bottom, cyan, blue),
              url("/images/pexels-oleksandr-p-376368.jpg");
          }
        }

        .card-heading {
          font-size: 2.8rem;
          font-weight: 300;
          text-transform: uppercase;
          text-align: right;
          color: white;
          position: absolute;
          top: 14rem;
          right: 2rem;
          width: 75%;

          .card-heading-span {
            padding: 0.5rem 1.5rem;
            box-decoration-break: clone;
            -webkit-box-decoration-break: clone;

            &-1 {
              background-image: linear-gradient(
                to right bottom,
                rgba(210, 210, 169, 0.85),
                rgba(orange, 0.85)
              );
            }
            &-2 {
              background-image: linear-gradient(
                to right bottom,
                rgba(red, 0.85),
                rgba(black, 0.85)
              );
            }
            &-3 {
              background-image: linear-gradient(
                to right bottom,
                rgba(cyan, 0.85),
                rgba(blue, 0.85)
              );
            }
          }
        }

        .card-details {
          padding: 1.5rem;

          ul {
            width: 80%;
            margin: 0 auto;

            li {
              text-align: center;
              font-size: 2rem;
              padding: 0.5rem;

              &:not(:last-child) {
                border-bottom: 1px solid #eee;
              }
            }
          }
        }
      }
    }
  }
}
