.flexbox-container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: $grey-light-two;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);

  .content {
    display: flex;
  }

  .sidebar {
    background-color: $grey-light-four;
    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .side-nav {
      font-size: 2rem;
      margin-top: 2rem;

      &-item {
        position: relative;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 3px;
          background-color: $red-one;
          transform: scaleY(0);
          transform-origin: middle;
          transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
            background-color 0.2s;
        }

        &:hover::before {
          transform: scaleY(1);
          width: 100%;
        }

        &:active::before {
          background-color: $red-two;
        }

        .side-nav-item-link {
          color: black;
          text-transform: uppercase;
          display: block;
          padding: 1rem 2.5rem;
          position: relative;
          z-index: 10;

          display: flex;
          align-items: center;
        }
      }
    }
  }

  .main-view {
    background-color: white;
    flex: 1;
    height: 60rem;
  }
}
