@import url(https://fonts.bunny.net/css?family=aclonica:400);
header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2%;
  width: 100%;
  text-align: center;
}
header h1 {
  color: white;
  font-size: 4rem;
  font-family: "Aclonica", sans-serif;
}
header nav {
  background-color: rgba(255, 255, 255, 0.178);
}
header nav ul {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}
header nav ul li {
  font-size: 2.5rem;
}
header nav ul li a {
  color: white;
}
