:root {
  height: 100vh;
  width: 100vw;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: inherit;
  color: white;
}

html {
  font-size: 62.5%;
}

body {
  background: url("../images/pexels-oleksandr-p-376368.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main h1 {
  animation-name: leftIncoming;
  animation-duration: 5s;
}

@keyframes leftIncoming {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
