@import url(https://fonts.bunny.net/css?family=aclonica:400);
@keyframes leftIncoming {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
:root {
  height: 100vh;
  width: 100vw;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: grey;
  background-size: cover;
  line-height: 1.6;
  height: 100vh;
}

header {
  height: 4rem;
  background-color: #fff;
  border-bottom: #f4f2f2;
  font-family: "Aclonica", sans-serif;
}
header nav {
  background-image: linear-gradient(to right bottom, rgba(111, 136, 195, 0.24), rgba(19, 73, 211, 0.51));
}
header nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul li {
  font-size: 2.5rem;
}
header .burgermenu {
  position: absolute;
  top: 0;
  right: 20rem;
  font-size: 3rem;
  border-radius: 5px;
  line-height: 45px;
}
header .burgermenu:hover ul {
  display: block;
  position: absolute;
}
header .burgermenu ul {
  display: none;
  background-image: linear-gradient(to right bottom, rgb(229, 229, 219), rgb(111, 106, 98));
  padding: 1rem;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .burgermenu {
    display: none;
  }
}
footer {
  background-color: rgba(255, 255, 255, 0.085);
  text-align: center;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  padding: 2%;
  bottom: 0;
}

.homepage {
  height: 100vh;
  padding: 2%;
  background-image: linear-gradient(to right bottom, rgb(229, 229, 219), rgb(111, 106, 98)), url("../../../src/images/pexels-oleksandr-p-376368.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}
.homepage .container {
  height: 45rem;
  padding: 2rem 10rem;
  background-image: linear-gradient(to right bottom, rgba(128, 128, 128, 0.24), rgba(255, 255, 255, 0.51));
  -webkit-clip-path: polygon(7.5vh 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(7.5vh 0, 100% 0, 100% 100%, 0 100%);
}
.homepage .container h1 {
  animation-name: leftIncoming;
  font-size: 4rem;
  animation-duration: 5s;
  padding: 2rem;
}
.homepage .container h2 {
  color: transparent;
  background-image: linear-gradient(to right, yellow, rgb(0, 0, 0));
  background-clip: inherit;
  -webkit-background-clip: text;
}
.homepage .container p {
  font-size: 1.8rem;
}

.projects {
  background-color: #faf9f9;
}
.projects .columns-3 {
  width: 100%;
  display: flex;
}
.projects .columns-3 .column {
  width: 33.3333333333%;
  padding: 2% 2%;
}
.projects .columns-3 .column .card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem;
}
.projects .columns-3 .column .card-side {
  color: black;
  font-size: 2rem;
  height: 52rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 13px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}
.projects .columns-3 .column .card-side-front {
  background-color: white;
}
.projects .columns-3 .column .card-side-back {
  transform: rotateY(180deg);
}
.projects .columns-3 .column .card-side-back-1 {
  background-image: linear-gradient(to right bottom, rgb(210, 210, 169), orange);
}
.projects .columns-3 .column .card-side-back-2 {
  background-image: linear-gradient(to right bottom, red, black);
}
.projects .columns-3 .column .card-side-back-3 {
  background-image: linear-gradient(to right bottom, cyan, blue);
}
.projects .columns-3 .column .card-side-back .card-side-back-cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-info {
  text-align: center;
  margin-bottom: 8rem;
  color: white;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-info-1 {
  font-size: 1.4rem;
  text-transform: uppercase;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-info-2 {
  font-size: 4rem;
  font-weight: 100;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button, .projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:link, .projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  border: none;
  cursor: pointer;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:active, .projects .columns-3 .column .card-side-back .card-side-back-cta .card-side-back-cta-button:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.projects .columns-3 .column .card:hover .card-side-front {
  transform: rotateY(-180deg);
}
.projects .columns-3 .column .card:hover .card-side-back {
  transform: rotateY(0deg);
}
.projects .columns-3 .column .card .card-picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
.projects .columns-3 .column .card .card-picture-1 {
  background-image: linear-gradient(to right bottom, rgb(210, 210, 169), orange), url("../../../src/images/pexels-oleksandr-p-376368.jpg");
}
.projects .columns-3 .column .card .card-picture-2 {
  background-image: linear-gradient(to right bottom, red, black), url("../../../src/images/pexels-oleksandr-p-376368.jpg");
}
.projects .columns-3 .column .card .card-picture-3 {
  background-image: linear-gradient(to right bottom, cyan, blue), url("../../../src/images/pexels-oleksandr-p-376368.jpg");
}
.projects .columns-3 .column .card .card-heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 14rem;
  right: 2rem;
  width: 75%;
}
.projects .columns-3 .column .card .card-heading .card-heading-span {
  padding: 0.5rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
.projects .columns-3 .column .card .card-heading .card-heading-span-1 {
  background-image: linear-gradient(to right bottom, rgba(210, 210, 169, 0.85), rgba(255, 165, 0, 0.85));
}
.projects .columns-3 .column .card .card-heading .card-heading-span-2 {
  background-image: linear-gradient(to right bottom, rgba(255, 0, 0, 0.85), rgba(0, 0, 0, 0.85));
}
.projects .columns-3 .column .card .card-heading .card-heading-span-3 {
  background-image: linear-gradient(to right bottom, rgba(0, 255, 255, 0.85), rgba(0, 0, 255, 0.85));
}
.projects .columns-3 .column .card .card-details {
  padding: 1.5rem;
}
.projects .columns-3 .column .card .card-details ul {
  width: 80%;
  margin: 0 auto;
}
.projects .columns-3 .column .card .card-details ul li {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
}
.projects .columns-3 .column .card .card-details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.flexbox-container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: #f4f2f2;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.flexbox-container .content {
  display: flex;
}
.flexbox-container .sidebar {
  background-color: #333;
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexbox-container .sidebar .side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
}
.flexbox-container .sidebar .side-nav-item {
  position: relative;
}
.flexbox-container .sidebar .side-nav-item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.flexbox-container .sidebar .side-nav-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #eb2f64;
  transform: scaleY(0);
  transform-origin: middle;
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s;
}
.flexbox-container .sidebar .side-nav-item-active::before, .flexbox-container .sidebar .side-nav-item:hover::before {
  transform: scaleY(1);
  width: 100%;
}
.flexbox-container .sidebar .side-nav-item:active::before {
  background-color: #ff3366;
}
.flexbox-container .sidebar .side-nav-item-link:link, .flexbox-container .sidebar .side-nav-item-link:visited {
  color: #faf9f9;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3.5rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
}
.flexbox-container .main-view {
  background-color: white;
  flex: 1;
  height: 60rem;
}
